@{
    RootModule = '{{NAME}}.psm1'
    ModuleVersion = '0.1.0'
    GUID = '{{GUID}}'
    Author = 'Zilvereyes'
    CompanyName = 'Independent'
    Copyright = '(c) Zilvereyes. All rights reserved.'
    Description = '{{NAME}} PowerShell module.'
    PowerShellVersion = '5.1'
    FunctionsToExport = @()
    CmdletsToExport = @()
    VariablesToExport = @()
    AliasesToExport = @()
    PrivateData = @{
        PSData = @{
            Tags = @('PowerShell', '{{PROFILE}}')
        }
    }
}
